<!DOCTYPE html>
<html>
<head>
  <title>groceries</title>
  <link rel="stylesheet" href="/launch_academy.css">
</head>
  <body>
    <div id="header">
      <a href="/movies">Movies</a>
      |
      <a href="/actors">Actors</a>
    </div>
    <%= yield %>
  </body>
</html>
