<!DOCTYPE html>
<html>
<head>
  <title>Movie Catalog Deluxe</title>
  <link rel="stylesheet" href="/launch_academy.css">
</head>
  <body>
    <div id="header">
      <a href="/movies">
        <img src="/images/movie.png" alt="Movies" />
      </a>
      <a href="/actors">
        <img src="/images/actor.png" alt="Actors" />
      </a>
    </div>
    <div id="master_container">
      <%= yield %>
    </div>
  </body>
</html>
