body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#master_container {
  padding: 20px;
  background: #FFF;
  margin: 0 80px;
}
#header {
  font-size: 18px;
  background: #1C2225;
  line-height: 27px;
  padding: 20px;
  text-align: center;
  border-top: #ed197b 3px solid;
}
a {
  text-decoration: none;
}
#header > a {
  color: #FFF;
  border-right:
}
#header a:hover {
  color: #3d9ec6;
}
h1 {
  color: #ed197b;
}
small {
  color: lightgray;
}
