<h1>
  <%= performances[0]["name"] %>
</h1>

<h3>Movie --> Character</h3>

<% performances.each do |movie| %>
  <a href="/movies/<%= movie["id"] %>">
    <%= movie["title"] %>
  </a>
  -->
  <%= movie["character"] %>
  <br/>
<% end %>
